Package: teamd-systemd
Version: 0.3
Architecture: all
Maintainer: Adrian Ban <adrian@abtelecom.ro>
Installed-Size: 16
Depends: systemd, libteam-utils, libteam5, libteamdctl0
Section: admin
Priority: optional
Description: boot-time loader for teaming interfaces (bonding replacement)
 This package provides a loader for teaming interface configuration using
 systemd architecture. It loads and unloads the teaming interfaces using
 teamd tool.
