[Unit]
Description=Team Daemon for device %I
Wants=network-pre.target
Before=network-pre.target
ConditionPathExists=/etc/teamd.d/%i.conf

[Install]
WantedBy=networking.service

[Service]
BusName=org.libteam.teamd.%i
ExecStart=/usr/bin/teamd -U -D -o -t %i -f /etc/teamd.d/%i.conf
ExecStop=/usr/bin/teamd -t %i -k
Restart=on-failure
RestartPreventExitStatus=1
Nice=-20
