[Unit]
Description=Daemon for device %I
Wants=network-pre.target
After=local-fs.target network-pre.target apparmor.service systemd-sysctl.service systemd-modules-load.service
Before=network.target shutdown.target network-online.target networking.target
ConditionPathExists=/etc/teamd.d/%i.conf

[Install]
WantedBy=network-pre.target

[Service]
BusName=org.libteam.teamd.%i
ExecStart=/usr/bin/teamd -U -D -o -t %i -f /etc/teamd.d/%i.conf
ExecStop=/usr/bin/teamd -t %i -k
Restart=on-failure
RestartPreventExitStatus=1
Nice=-20
